* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
  --main-gap: 20px;
  --br: 15px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  color: #19365c;
  text-align: center;
}

p,
h6 {
  color: #434c58;
}

body {
  margin-top: 50px;
}

header {
  padding: 20px 20px 0px 20px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #19365c;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-family: 'Amatic SC', cursive;
  background-color: white;
  border: 1px solid #19365c;
  color: #19365c;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: larger;
}

button:hover {
  font-family: 'Amatic SC', cursive;
  background-color: #19365c;
  border: 1px solid #19365c;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

input {
  font-family: 'Amatic SC', cursive;
  border: #19365c;
  color: #19365c;
  padding: 5px 10px;
  font-size: larger;
}

.taskContainer {
  padding: 20px;
}

div.cardTask {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #19365c;
  border-radius: var(--br);
  background-image: url("../public/images/background1.jpg");
}

div.cardTask img {
    margin: 10px 0;
    /*filter: grayscale(100%);*/
}

@media (min-width: 568px) {
  header h1 {
    text-align: center;
  }
  div.cardTask {
    width: 47%;
  }
  .taskContainer {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    margin: auto;
  }
}

@media (min-width: 1024px) {
  div.cardTask {
    width: calc(33.33% - var(--main-gap)*2 / 3);
  }
  .taskContainer {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    margin: auto;
  }
}

@media (min-width: 1300px) {
  div.cardTask {
    width: calc(25% - var(--main-gap)*3 / 4);
  }
  .taskContainer{
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    margin: auto;
  }
}